@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

@import 'node_modules/bootstrap/scss/reboot';
@import 'node_modules/bootstrap/scss/type';
@import 'node_modules/bootstrap/scss/grid';

@import 'node_modules/bootstrap/scss/buttons';
@import 'node_modules/bootstrap/scss/nav';
@import 'node_modules/bootstrap/scss/navbar';

@import 'node_modules/bootstrap/scss/popover';

@import 'node_modules/bootstrap/scss/forms';
@import 'node_modules/bootstrap/scss/card';
@import 'node_modules/bootstrap/scss/alert';
@import 'node_modules/bootstrap/scss/spinners';

@import 'node_modules/bootstrap/scss/button-group';

/*
    Horizontal layout for large screens, vertical otherwise
*/

.large-size-layout {
    flex-direction: row;
}

@include media-breakpoint-down(md) {
    .large-size-layout {
        flex-direction: column;
    }
}

/*
    For colour picker controls
*/
.colour-picker .react-colorful__saturation {
    border-radius: 0.23rem 0.23rem 0 0;
    box-shadow: none;
}

.colour-picker .react-colorful__last-control {
    border-radius: 0 0 0.23rem 0.23rem;
}

/*

*/
.about-quote-person {
    font-size: 6rem;
}

@include media-breakpoint-down(sm) {
    .about-quote-person {
        font-size: 3.5rem;
    }
}
