// @import 'bootstrap/scss/bootstrap';

@import 'bootstrap/scss/bootstrap-utilities';
@import 'bootstrap/scss/bootstrap-reboot';
@import 'bootstrap/scss/bootstrap-grid';

@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';

@import 'bootstrap/scss/type';

@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/alert';
@import 'bootstrap/scss/popover';
@import 'bootstrap/scss/spinners';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/tooltip';

/*
    Horizontal layout for large screens, vertical otherwise
*/

.large-size-layout {
    flex-direction: row;
}

@include media-breakpoint-down(md) {
    .large-size-layout {
        flex-direction: column;
    }
}

/*
    Use if we want hilighted cards
*/

// .card:hover {
//     border: 1px solid $link-hover-color;

//     img {
//         border-bottom: 1px solid $link-hover-color !important;
//     }
// }

.nav-link-small {
    padding: 0.15rem 0.4rem;
}

/*
    For colour picker controls
*/

/* Small */
.colour-picker .react-colorful {
    width: 8rem;
    height: 8rem;

    padding: 0.3rem;
    border-radius: 0.2rem;
    border: 1px solid #555555;
}

.colour-picker .react-colorful__hue {
    height: 1rem;

    border-radius: 0.2rem;
    margin-top: 0.3rem;
}

.colour-picker .react-colorful__saturation {
    border-radius: 0.2rem;
    border: none;
}

/*

*/
.about-quote-person {
    font-size: 6rem;
}

@include media-breakpoint-down(sm) {
    .about-quote-person {
        font-size: 3.5rem;
    }
}
