@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

@import 'node_modules/bootstrap/scss/reboot';
@import 'node_modules/bootstrap/scss/type';
@import 'node_modules/bootstrap/scss/grid';

@import 'node_modules/bootstrap/scss/buttons';
@import 'node_modules/bootstrap/scss/nav';
@import 'node_modules/bootstrap/scss/navbar';

@import 'node_modules/bootstrap/scss/popover';

@import 'node_modules/bootstrap/scss/forms';
@import 'node_modules/bootstrap/scss/card';
@import 'node_modules/bootstrap/scss/alert';
@import 'node_modules/bootstrap/scss/spinners';

@import 'node_modules/bootstrap/scss/button-group';

@import 'node_modules/bootstrap/scss/tooltip';

/*
    Horizontal layout for large screens, vertical otherwise
*/

.large-size-layout {
    flex-direction: row;
}

@include media-breakpoint-down(md) {
    .large-size-layout {
        flex-direction: column;
    }
}

/*
    For colour picker controls
*/

/* Small */
.colour-picker .react-colorful {
    width: 8rem;
    height: 8rem;

    padding: 0.3rem;
    border-radius: 0.2rem;
    border: 1px solid #555555;
}

.colour-picker .react-colorful__hue {
    height: 1rem;

    border-radius: 0.2rem;
    margin-top: 0.3rem;
}

.colour-picker .react-colorful__saturation {
    border-radius: 0.2rem;
    border: none;
}

/*

*/
.about-quote-person {
    font-size: 6rem;
}

@include media-breakpoint-down(sm) {
    .about-quote-person {
        font-size: 3.5rem;
    }
}
